In [32]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import chromedriver_autoinstaller
import pandas as pd
import csv
import time

In [33]:
chromedriver_autoinstaller.install()

browser = webdriver.Chrome()

data = []

for index in range (1,2):
    browser.get(f'https://www.tiket.com/sewa-mobil/cari?regional_id=1ad81f07-0db8-4ae6-99af-6576d6b0f45f&start_date=2023-06-14&end_date=2023-06-14&qty=1&set_driver=withDriver')
    time.sleep(5)
    soup = BeautifulSoup(browser.page_source,"lxml")
    rows = soup.find_all('div', class_='vendors-info-box search-car-list')

In [34]:
for row in rows:
        Nama_Travel = row.find(class_='vendor-name')
        if Nama_Travel:
            Nama_Travel = Nama_Travel.text
            
        Kapasitas_Penumpang = row.find(class_='passenger-span')
        if Kapasitas_Penumpang:
            Kapasitas_Penumpang = Kapasitas_Penumpang.text
        
        Kapasitas_Bagasi = row.find(class_='baggage-span')
        if Kapasitas_Bagasi:
            Kapasitas_Bagasi = Kapasitas_Bagasi.text
        
        df = {
            'Nama Travel': Nama_Travel,
            'Kapasitas Penumpang': Kapasitas_Penumpang,
            'Kapasitas Bagasi': Kapasitas_Bagasi
            }
        data.append(df)

In [35]:
df = pd.DataFrame(data)

In [36]:
df

                              Nama Travel Kapasitas Penumpang Kapasitas Bagasi
0                       Daihatsu Sigra5•2                   5                2
1                          Toyota Agya4•2                   4                2
2                        Daihatsu Ayla4•1                   4                1
3                         Toyota Calya5•2                   5                2
4               Daihatsu All New Xenia6•2                   6                2
5             Daihatsu Great New Xenia6•2                   6                2
6                Toyota All New Avanza6•2                   6                2
7              Toyota Grand New Avanza6•2                   6                2
8                           Honda Brio4•1                   4                1
9                    Daihatsu New Ayla4•2                   4                2
10                      Honda New Brio4•2                   4                2
11                   Toyota New Avanza6•2                   6                2
12                       Suzuki Ertiga6•2                   6                2
13             Wuling Motors Confero S6•2                   6                2
14                       Honda Mobilio6•2                   6                2
15        Suzuki All New Suzuki Ertiga6•2                   6                2
16         Daihatsu All New Xenia 20216•2                   6                2
17          Toyota All New Avanza 20216•2                   6                2
18               Nissan All New Livina6•2                   6                2
19                  Mitshubisi Xpander6•2                   6                2
20             Daihatsu All New Terios6•4                   6                4
21                 Toyota All New Rush6•2                   6                2
22           Toyota All New Veloz 20216•2                   6                2
23    Mitshubisi Xpander Facelift 20215•2                   5                2
24                   Toyota Veloz 20226•2                   6                2
25                 Toyota Grand Innova6•2                   6                2
26               Toyota All New Innova6•2                   6                2
27            Toyota New Innova Reborn6•2                   6                2
28                       Nissan Evalia7•3                   7                3
29                           Honda Crv5•2                   5                2
30   Toyota New Innova Reborn Facelift6•2                   6                2
31         Toyota All New Innova Zenix6•2                   6                2
32                   Mitshubisi Pajero6•2                   6                2
33                       Toyota Hiace13•5                  13                5
34              Toyota Hiace Commuter16•4                  16                4
35                 Toyota Fortuner VRZ6•2                   6                2
36             Toyota All New Fortuner6•2                   6                2
37           Mitshubisi All New Pajero6•2                   6                2
38                Toyota Hi-Ace Premio8•8                   8                8
39        Toyota New Fortuner VRZ 20225•2                   5                2
40  Toyota All New Alphard Transformer6•2                   6                2
41                      Toyota Alphard6•3                   6                3
42                  Toyota New Alphard6•2                   6                2

In [37]:
df.to_csv('Available Rental Mobil - Surabaya 14 June 2023.csv', index=False)